<h1 class="text-center">As a scientist</h1>
<p>Dr APJ Abdul Kalam was a great scientist, an inspiring leader and, above all, an extraordinary human being. He touched the lives of everyone who worked with him. I recall the time we were preparing to test the Agni technology demonstrator in 1989. There were lots of nervous moments and we weren't sure how the test would go. We had returned from the launch pad twice in the past and this was a crucial test.
</p>
<p>Kalam used to carry his resignation letter with him those days. He had decided if anything went wrong, he would accept the responsibility and step down. There are not many leaders like that. He stayed awake all night at the launch pad, making sure everything was in order.
</p>
<p>India's strategic missile programme is where it is today because of Kalam's genius.
</p>
<p>He would give everyone an opportunity to contribute to a project irrespective of where they were in the pecking order.
</p><p>
The days ahead of the 1998 nuclear tests were stressful but Kalam never lost his cool. He scripted that glorious chapter in India's history.</p>