<p>Dr. A. P J. Abdul Kalam was fond of writing songs and poetry and he wrote a lot of books in his career:
</p>
<p>Developments in Fluid Mechanics and Space Technology, 1988: Dr. A. P. J. Abdul Kalam wrote the book along with Roddam Narasimha
</p>
<p>India 2020: A vision for the New Millennium, 1998: Dr. A. P. J. Abdul Kalam wrote the book along with Y S Rajan

</p><p>Envisioning an Empowered Nation: Dr. A. P. J. Abdul Kalam wrote the book along with A Sivathanu Pillai

</p><p>You Are Born To Blossom: Take My Journey Beyond, 2011: He wrote the book along with Arum Tiwari

</p><p>Target 3 Billion, 2011: The book was written along with Srijan Pal Singh

</p><p>A Manifesto for Change: A Sequel to India 2020: Dr. A.P.J Abdul Kalam wrote the book along with V Ponraj
</p><p>
Reignited: Scientific Pathways to a Brighter Future, 2015: He wrote the book along with Srijan Pal Singh
</p><p>
Transcendence My Spiritual Experiences with Pramukh Swamiji, 2015
</p><p>
My Journey: Transforming Dreams into Actions, 2013
</p><p>
Indomitable Spirit
</p><p>
Ignited Minds:Unleashing the Power Within India, 2002
</p><p>
The Luminous Sparks, 2004
</p><p>
Mission India, 2005
</p><p>
Inspiring Thoughts, 2007
</p><p>
Forge your Future: Candid, Forthright, Inspiring, 2014
</p><p>
Turning Points: A journey through challenges, 2012
</p>