<p>
  A. P. J. Abdul Kalam's 79th birthday was recognised as World Students' Day by United Nations. He has also received honorary doctorates from 40 universities. The Government of India has honoured him with the Padma Bhushan in 1981 and the Padma Vibhushan in 1990 for his work with ISRO and DRDO and his role as a scientific advisor to the Government. In 1997, Kalam received India's highest civilian honour, the Bharat Ratna, for his immense and valuable contribution to the scientific research and modernisation of defence technology in India. 
 </p> 
  <p>In 1997, Kalam received one of India's highest awards, the prestigious Bharat Ratna for his immense and valuable contribution to the scientific research and modernisation of defence technology. He was the second scientist after the late Homi Bhabha to receive this award.
  </p>
  <p>Year of award or honor	Name of award or honor	Awarding organization
  </p>
  
    <b>2011</b>	IEEE Honorary Membership	IEEE<br>
    <b>2010</b>	Doctor of Engineering	University of Waterloo<br>
    <b>2009</b>	Hoover Medal	ASME Foundation, USA<br>
    <b>2009</b>	International von Kármán Wings Award	California Institute of Technology, U.S.A<br>
    <b>2008</b>	Doctor of Engineering (Honoris Causa)	Nanyang Technological University, Singapore<br>
    <b>2007</b>	King Charles II Medal	Royal Society, U.K<br>
    <b>2007</b>	Honorary Doctorate of Science	University of Wolverhampton, U.K<br>
    <b>2000</b>	Ramanujan Award	Alwars Research Centre, Chennai<br>
    <b>1998</b>	Veer Savarkar Award	Government of India <br>
    <b>1997</b>	Indira Gandhi Award for National Integration	Government of India <br>
    <b>1997</b>	Bharat Ratna	Government of India<br>
    <b>1990</b>	Padma Vibhushan	Government of India <br>
    <b>1981</b>	Padma Bhushan	Government of India <br>
  
  
