<h1 class= "text-center">Famous Quotes</h1><br>

<p>You have to dream before your dreams can come true.
</p><p>Look at the sky. We are not alone. The whole universe is friendly to us and conspires only to give the best to those who dream and work.
</p><p>Man needs his difficulties because they are necessary to enjoy success.
</p><p>Great dreams of great dreamers are always transcended.
</p><p>We should not give up and we should not allow the problem to defeat us.
</p><p>Be more dedicated to making solid achievements than in running after swift but synthetic happiness.
</p><p>Climbing to the top demands strength, whether it is to the top of Mount Everest or to the top of your career.
</p><p>Do we not realize that self respect comes with self reliance?
</p><p>God, our Creator, has stored within our minds and personalities, great potential strength and ability. Prayer helps us tap and develop these powers.
</p><p>Unless India stands up to the world, no one will respect us. In this world, fear has no place. Only strength respects strength.</p>